<%- include("../../../dashboard-layout", {
    pageTitle: "Referrals Program",
    body: `
      <h1>Referrals Program</h1>
      <p>Em breve, conteúdo de Referrals Program...</p>
    `
  }) %>
  